Repository frc-862/thunder, pull requests merged in 2024-01, with the labels that each got.

#115 [#114] Added necessary return type
  LightningContainer.java
  LightningRobot.java
  auto/Autonomous.java
Labels: auton, bug

#119 [117] fix limelight filtering
  vision/Limelight.java
Labels: bug, vision

#126 [#125] Added function to create named commands
  LightningContainer.java
Labels: auton
